{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3 class="text-center text-primary">Top ventes du moment</h3>
        <p class="text-center text-muted">Découvrez nos articles les plus populaires du mois dernier, inspirés par l'histoire et la culture de Sbeitla.</p>
        
        <div class="row">
            {% for product in top_products %}
                <div class="col-md-4 mb-4">
                    <div class="product-item text-center shadow-lg rounded">
                        <a href="{{ path('product_show', {slug: product.slug}) }}">
                            <img class="img-fluid rounded shadow-sm" src="/uploads/{{ product.image }}" alt="{{ product.name }}">
                        </a>
                        <h5 class="mt-2 font-weight-bold text-success">{{ product.name }}</h5>
                        <span class="product-subtitle d-block text-muted">{{ product.subtitle }}</span>
                        <span class="product-price d-block text-warning font-weight-bold">{{ (product.price / 100 )|number_format(2, ',', '.') }} €</span>
                    </div>
                </div>
            {% endfor %}
        </div><!-- /.row -->

        <hr class="featurette-divider" style="border-color: #d1b97f;">

        <div class="row featurette align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading text-primary">Ne ratez pas notre <span class="text-muted">collection automne</span></h2>
                <p class="lead text-dark">Découvrez des pièces élégantes et modernes pour cette saison automnale, inspirées par la beauté des paysages de Sbeitla et de ses ruines antiques.</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid rounded shadow" src="{{ asset('assets/img/s1.jpg') }}" alt="Collection Automne">
            </div>
        </div>

        <hr class="featurette-divider" style="border-color: #d1b97f;">

        <div class="row featurette align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading text-primary">Promotions exceptionnelles <span class="text-muted">pour hommes</span></h2>
                <p class="lead text-dark">Profitez de réductions sur une large gamme d'articles pour homme. Style et élégance, tout comme les vestiges antiques de Sbeitla, mais à des prix abordables.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-fluid rounded shadow" src="{{ asset('assets/img/s2.jpg') }}" alt="Mode Homme">
            </div>
        </div>

        <hr class="featurette-divider" style="border-color: #d1b97f;">
    </div>
{% endblock %}
